body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Trebuchet MS';
    background-color: rgb(34, 54, 168); /*rgb(17, 27, 48);*/
}
div {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div.flexcenter {
    display: flex;
    justify-content: center;
}
div.maincenter {
    width: 100%;
    min-width: 500px;
    max-width: 1024px;
}
div.colorful {
    border-radius: 10px;
    /*height: 80px;*/
    margin: 8px;
    padding: 16px;
    background-color: blue;
    color: white;
    box-shadow: 0px 2px 6px rgb(0, 0, 0);
}
div.imageful {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8); /* 0.7 */
    background-blend-mode: multiply;
    background-size: 100%;
    margin: 8px;
    padding: 16px;
    color: white;
    transition: all 0.1s;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0);
}
div.imageful:hover {
    background: rgba(0, 0, 0, 0.7);
    background-size: 104%;
}
div.bigempty {
    border-radius: 10px;
    background: transparent;
    margin: 8px;
    padding: 16px;
    color: white;
    transition: all 0.1s;
    margin: 8px;
    padding: 16px;
}
div.infowhite {
    background-color: rgba(255, 255, 255, 0.3);
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0);
    transition: all 0.1s;
    padding: 16px;
}
div.infowhite:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
img.diegoimg {
    transition: all 0.1s;
}
img.diegoimg:hover {
    translate: 0px -8px;
}
div.titlebar {
    background-color: rgb(48, 61, 247);
    color: white;
    height: 70px;
    width: 100%;
    margin: 0px;
    padding: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.footerbar {
    background-color: rgb(0, 0, 0);
    color: rgb(197, 197, 197);
    height: 50px;
    width: 100%;
    margin: 0px;
    padding: 8px;
    height: 100%;
}
div.infosection {
    width: 40%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white; /*rgb(36, 36, 36);*/
    padding: 8px;
    margin-bottom: 10px;
}
div.infosectionwide {
    width: 90%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white; /*rgb(36, 36, 36);*/
    padding: 8px;
    margin-bottom: 10px;
}
div.infoflex {
    display: flex;
    flex-direction: column;
}
div.infoflexrow {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
h1 {
    margin: 0px;
}
h2 {
    margin: 0px;
}
span.highlight {
    padding-left: 8px;
    padding-right: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
hr {
    border: solid rgba(255, 255, 255, 0.4) 1px;
}
a {
    color: white;
    text-decoration: underline;
}
a:visited {
    color: white;
    text-decoration: underline;
}
a:hover {
    color: rgb(255, 255, 255, 0.8);
    cursor: pointer;
}
a:active {
    color: rgb(255, 255, 255, 0.6);
}
button {
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 100px;
    background-color: white;
    color: rgb(48, 61, 247);
    /*box-shadow: 0px 2px 4px black;*/
    font-size: 20px;
    font-weight: normal;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0px 2px 6px black;*/
    cursor: pointer;
}
button:active {
    background-color: rgba(255, 255, 255, 0.6);
    /*box-shadow: 0px 2px 6px black;*/
    cursor: pointer;
}
button.outl {
    background-color: transparent;
    border: solid 2px white;
    color: white;
}
button.outl:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
button.outl:active {
    background-color: rgba(255, 255, 255, 0.4);
}
input {
    width: 40%;
    height: 30px;
    border-radius: 100px;
    font-size: 18px;
    padding-left: 8px;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}